#grid-container {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    padding: 1rem;
}

*{
    box-sizing: border-box;
}
header {
    font-size: 1.5rem;
    font-weight: 600;
    grid-area: header;
    border-bottom: 0.3rem solid grey;
}

header nav {
    display: flex;
    justify-content: space-between;
    position: relative;
}

header nav a {
    text-decoration: none;
}

header nav div{
    display: flex;
    gap: 1rem;
}

.nav2 {
    color: rgb(166, 206, 57);
}

.nav2 a:link{
    color: rgb(166, 206, 57);
}
.nav2 a:visited{
    color: rgb(166, 206, 57);    
}
.nav2 a:hover{
    color: rgb(166, 206, 57);    
}
.nav2 a:active{
    color: rgb(166, 206, 57);    
}

.current {
    color: rgb(0, 148, 218);
}

.current a:link{
    color: rgb(0, 148, 218);
}
.current a:visited{
    color: rgb(0, 148, 218);    
}
.current a:hover{
    color: rgb(0, 148, 218);    
}
.current a:active{
    color: rgb(0, 148, 218);    
}




#logo {
    color: #000;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    text-decoration: none;
}


.navbar {
    display: none;
}

.responsive {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #242424;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 40px;
    list-style: none;
}

.responsive a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 1rem;
}

.black-btn {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    background-color: #171717;
    border-radius: 5px;
    font-weight: 400;
    font-size: 1.5rem;
    padding: 1rem;
}

h1 {
    padding: 0rem;
    margin: 0rem 0rem 1rem 0rem;
}

main section img{
    width: 100%;  
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

main section a{
    text-decoration: none;
}

.fifty {
    display: flex;
    flex-direction: row;    
}

.blue {
    border: 1rem solid rgb(0, 148, 218);
    margin: 1rem;
    background-color: rgb(0, 148, 218);
}

.green{
    border: 1rem solid rgb(166, 206, 57);
    margin: 1rem;
    background-color: rgb(166, 206, 57);
    display: block;
}

.yellow{
    border:1rem solid rgb(255, 202, 8);
    margin: 1rem;
    background-color: rgb(255, 202, 8);
}

.orange{
    border: 1rem solid rgb(243, 129, 34);
    margin: 1rem;
    background-color: rgb(243, 129, 34);
} 

.grey {
    background-color: rgb(195, 201, 204);
}

.no-border {
    border: 0;
}

.border {
    border: 0.5rem solid #000;
    padding: 1rem;
    margin: 1rem;
}

.overlay {
    position: absolute;
    padding: 0.5rem;
    font-size: 2rem;
}

#Recommended {
    position: absolute;
    background-color: #000;
    padding: 0.2rem;
    float: right;
  }

.size a {
    border: 0.2rem solid #000;
    font-size: 2rem;
    flex-wrap: wrap;
    padding: 5px;
    margin: 5px;
    display: inline-flex;

}

main div section {
    margin: 1rem;
    border: 1rem solid #000;
    display: inline-flex;
}

#nav {
    color: #000;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    font-weight: bold;
}

.socials{
    display:inline-block;
    font-size: 3rem;
    flex-direction: row;
    flex-wrap: wrap;
    color: #fff;
    padding: 1rem;
    justify-content:left;
}

body div header nav{
display: flex;
justify-content: space-between;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 1rem;
    font-size: 1.5rem;
}

@media only screen and (min-width:600px){
    #grid-container{
        grid-template-areas: "header header header" "main main main" "footer footer footer";
    }
    .navbar{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        list-style: none;
        margin: 0;
        text-decoration: none;
    }

    #burger, .fa-cart-shopping, .fa-magnifying-glass{
        display: none;
    }

    .flex-section{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .flex-section img{
        width: 50%;
    }

    .flex-section section{
        padding: 1rem;
        width:40%;
        align-self: center;

    }

    .right img{
        order:1;
    }


}